<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if current_user.user_type == "admin" %}
    <form action="/add_activity" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Name</label><input type="text" name="activity_name">
        <label>Image</label><input type="file" name="activity_image">
        <button type="submit" name="submit">Create Activity</button>
    </form>
    <h1>All Activities</h1>
    {% for activity in all_activities %}
    <p>{{activity.name}}</p>
    {% if activity.image %}
    <img src="{{activity.image.url}}">
    {% endif %}
    {% endfor %}

    <h1>All Suggested Equipments</h1>
    {% for equipment in all_sg_equipment %}
    <ul>
        <li>{{ equipment.name }}</li>
    </ul>
    {% endfor%}

    <form action="/add_sg_equpiment" method="POST">
        {% csrf_token %}
        <label>Name</label><input type="text" name="equipment_name">
        <label>Description</label><input type="text" name="description">
        <button type="submit" name="submit">Create Equipment</button>
    </form>

    {% endif %}
</body>

</html>