<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Adventures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/my_adventures.css' %}">
    
</head>
<body>
    <div class = "wrapper">       
            <h1 class = "title">Adventures for {{current_user.first_name}} {{current_user.last_name}}</h1> 
            <a href = "/new_adventure" class = "link">Post a New Adventure</a>

        <section class = "main">
            <sidebar class = "search">
                <h5>Search</h5>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                    <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="" method="post">
                {% csrf_token %}

                    <label class = "label">Region</label>
                    <select name = "region" class="dropdown-content">
                        <option  disabled selected>Select a Region</option> 
                        <option value="southeast">Southeast</option>
                        <option value="southwest">Southwest</option>
                        <option value="northeast">Northeast</option> 
                        <option value="northwest">Northwest</option> 
                    </select><br><br> 

                    <label class = "label">All Distances:</label><br>
                    <select name = "distance" class="dropdown-content">
                        <option  disabled selected>Select a Distance</option> 
                        {% for adventure in all_adventures.all %}
                        <option value="{{adventure.distance}}">{{adventure.distance}}</option>
                        {% endfor %}
                    </select><br><br> 

                    
                    <label class = "label" >All Adventure Types:</label>
                    <select name = "activity_id" class="dropdown-content">
                        <option  disabled selected>Select an Activity</option> 
                        {% for activities in all_activities.all %}
                        <option value = "{{activities.id}}">{{activities.name}}</option>
                        {% endfor %}
                            
                    </select><br><br>

                    <label>All Posters:</label>
                    <select name = "organizer" class="dropdown-content">
                        <option  disabled selected>Select an Organizer</option> 
                        {% for organizer in my_adventures.organized_adventures.all  %}
                        <option value="{{organizer.first_name}}">{{organizer.first_name}}{{organizer.last_name}}</option>
                        {% endfor %}
                    </select><br><br> 
                </form>           
            </sidebar>

            
            <div class = "right">   
            {% for adventure in my_adventures %}
                <div class = "myAdventures">
                    <div class="heading">
                        <p class = "icon"></p>
                        <a href="/adventure_detail/{{adv_id}}" class = "activityTitle">{{adventure.activity.name}}</a>
                        <p class = "datetime">{{adventure.adventure_start}}</p>
                    </div> 
                    <div class = "detailContainer">
                        <div class="detail">
                            <p class = "detail1">{{adventure.region}}</p>
                            <p class = "detail2">{{adventure.location}}</p>
                            <p class = "detail3">Distance: {{adventure.distance}}</p>
                            <p class = "detail4">Skill Level: {{adventure.skill_level}}</p>
                        </div>
                        <div class="equip">
                            <p>Suggested Equipment</p>               
                            <ul>
                                <li>{{adventure.suggested_equipment.name}}</li>
                            </ul>                    
                        </div>
                        <div class = "buttons"> 
                            {% if adventure.organizer.id != request.session.user_id %}               
                            <button href = "/leave_adventure/{{adv.id}}" class = "leaveButton">Leave</button>
                            {% else %}
                            <button href = "/edit_adventure/{{adv.id}}" class = "editButton">Edit</button>
                            <form action = "/cancel_adventure/{{adv_id.id}}/delete" class ="cancelButton" method = "POST">                        
                                {% csrf_token %} 
                                <input type = "submit" class = "cancelButtonInput"  value="Cancel">             
                            </form>
                            {% endif %} 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </section>
    </div>
</body>
</html>
