<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Adventures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class = "wrapper">       
            <h1 class = "title">My Adventures</h1>
            <a href = "/new_adventure">Post a New Adventure</a>
        
        <section class = "main">
            <sidebar class = "search">
                <h5>Search</h5>
                <!-- {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                    <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="" method="post">
                {% csrf_token %} -->

                <label class = "label">Region</label>
                <select name = "region" class="dropdown-content">
                    <option  disabled selected>Select a Region</option> 
                    <option value="southeast">Southeast</option>
                    <option value="southwest">Southwest</option>
                    <option value="northeast">Northeast</option> 
                    <option value="northwest">Northwest</option> 
                </select><br><br> 

                <label class = "label">All Distances:</label><br>
                <select name = "distance" class="dropdown-content">
                    <option  disabled selected>Select a Distance</option> 

                    {% for adventure in all_adventures.all %}
                    <option value="{{adventure.distance}}">{{adventure.distance}}</option>
                    {% endfor %}
                </select><br><br> 

                
            <label class = "label" >All Adventure Types:</label>
                <select name = "activity_id" class="dropdown-content">
                    <option  disabled selected>Select an Activity</option> 
                    {% for activities in all_activities.all %}
                    <option value = "{{activities.id}}">{{activities.name}}</option>
                    {% endfor %}
                        
                </select><br><br>

                <label>All Posters:</label>
                <select name = "organizer" class="dropdown-content">
                    <option  disabled selected>Select an Organizer</option> 
                    <option value="{{user.organized_adventures.name}}">{{user.organized_adventures.name}}</option>
                    {#% endfor %#}
                </select><br><br> 
            
            </sidebar>



            <div class="myAdventures">
                <div class="heading">
                    icon
                    {% for my_adventures in all_adventures.all%}
                    <a href="//{{adventure.id}}">{{adventure.activity}}</a>
                    <p>{{adventure.adventure_start}}</p>
                </div>

                <div class="detail">
                    <p>{{adventure.location}}</p>
                    <p>{{adventure.region}}</p>
                    <p>{{adventure.distance}}</p>
                    <p>{{adventure.skill_level}}</p>
                </div>
                <div class="equip">
                    <p>Suggested Equipment</p>
                    {% for equipment in all_sg_equipment.all%}
                    <ul>
                        <li>{{adventure.suggested_equipment}}</li>
                    </ul>
                    {% endfor %}
                </div>
                <button href = "/leave_adventure">Leave</button>
                {% endfor%}
            </div>
        </section>
    </div>
</body>
</html>