<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Adventure</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newAdv.css' %}">
    
</head>
<body>
    <div class = "wrapper">
        <div>Navigation</div>
        <h1  class = "pageTitle">Create a New Adventure</h1>       
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
            <li>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/create_adventure" method="post" class = "form">
        {% csrf_token %}
            <div class = "new_leftside">
                <label class = "label" >Activity</label>
                    <select name = "activity_id" class="dropdown-content">
                        <option disabled selected>Select an Activity</option> 
                        {% for activities in all_activities.all %}
                        <option value = {{activities.id}}>{{activities.name}}</option>
                        {% endfor %}              
                    </select><br><br>
                    
                <label class = "label">Location</label>
                <input type = "text" name = "location"><br><br>

                <label class = "label">Region</label> 
                <select name = "region" class="dropdown-content">
                    <option  disabled selected>Select a Region</option> 
                    <option value="Southeast">Southeast</option>
                    <option value="Southwest">Southwest</option>
                    <option value="Northeast">Northeast</option> 
                    <option value="Northwest">Northwest</option> 
                </select><br><br> 

                <label class = "label">Distance</label>
                <input type = "text" name = "distance"><br><br>

                <label class = "label">Skill Level</label>                    
                <select name = "skill_level" class="dropdown-content">
                    <option  disabled selected>Select a skill level</option> 
                    <option value="Beginner">Beginner</option>                    
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Master">Master</option>
                </select><br><br>

                <label class = "label">Adventure Start</label>
                <input type = "datetime" name = "adventure_start" id = "adventure_start" class = "time"><br><br>
                
                <label class = "label">Duration:</label>
                <input type = "text" name = "duration"><br><br>

                <label class = "label">Meeting Location</label>
                <input type = "text" name = "meeting_location"><br><br>
            </div>
                

            <div class = "new_rightside">
                <p class = "subtitle_Rt_New">Description:</p>
                <textarea name = "description" class = "descNew"></textarea>
                <p class = "subtitle_Rt_New">Suggested Equipment:</p>
                <div class = "scrollbox"> 
                        {% for equipment in all_sg_equipment.all %}                      
                        <input type="checkbox" value ="{{SuggestedEquipment.name}}"name = {{suggested_equipment_id}} >
                        <label for="{{SuggestedEquipment.name}}">{{equipment.name}}</label><br> 
                        {% endfor %}              
                    </select><br><br>
                    
                </div>
            </div>
            <button type="submit" class = "submit_button">Submit</button>
        </form>
    </div>    
</body>
</html>