<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        <h1>Register</h1>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/registration" method="POST">
            {% csrf_token %}
            <label>First Name: <input type = "text" name = "first_name"></label><br><br>
            <label>Last Name: <input type="text" name = "last_name"></label><br><br>
            <label>Email: <input type="text" name = "email"></label><br><br>
            <label>Password: <input type="password" name = "password"></label><br><br>
            <label>Password Confirmation: <input type="password" name = "password_conf"></label><br><br>
            <input type = "submit"  value="Register" class = "submitButton">
        </form>            
    </div>    
</body>
</html>