    
*{
    margin: 0;
    padding: 0;
}
    
.wrapper{
    width:   auto;
    margin:  31px 0 60px 3%;
    padding-top: 3%;
    border: 2px solid #DCD6CB;
    -moz-box-shadow:    3px 3px 5px 6px #DCD6CB;
    -webkit-box-shadow: 3px 3px 5px 6px #DCD6CB;
    box-shadow:3px 3px 5px 6px #DCD6CB;
}
.pageTitle{
    text-align: center;
    margin-bottom: 3%;
}
.leftside{
    width:  44%;
    display:  inline-block;
    height:  600px;
    vertical-align: top;
    text-align:  left;
    margin-left:  80px    
}
.dropdown-content-edit{
    width:  225px;
    font-size:  18px;
    margin-left: 0;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px black solid; 
}
.label{
    margin: 10px;
    width:  150px; 
    height:  25px;
    display:  inline-block;
}
.rightside{
    width:  47%;
    height:  600px;
    display:  inline-block;
    vertical-align: top;
}
.date{
    width:  50px;
}
.time{
    width:  50px;
}
.leftside input{
    width:  225px; 
    height:  25px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px black solid; 
}
.description{
    width:  310px;
    height:  200px;
    margin:  10px 20% 75px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px black solid; 
}
.equip{
    width:  20px;
}
.subtitle_Rt{
    margin-left:  2%;
}
.scrollbox{
    width: 300px;
    height: 150px; 
    line-height: 2em; 
    overflow:scroll; 
    border: thin #000 solid;
    padding: 5px;
    margin: 10px 20%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px black solid; 
}
.scrollbox label{
    margin:  0 15px;
}
.scrollbox input{
    margin:  0 5px;
}
.submit_button{
    border-radius: 0.5em; 
    box-shadow: 2px 3px black;
    padding: 0.7% 2%;
    text-align: center;
    background-color: #f6c453;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 45.5%;
}

.submit_button:hover{
    color: white;
}

#back_button{
    padding-right: 1.5%;
}